.navbar{
    background-image: linear-gradient(to right,rgb(168, 7, 7),rgb(221, 201, 16));
    font-family: 'Permanent Marker', cursive;
    
}
.navbar-brand{
    color: white !important;
    font-size:5vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.AboutMe{
    font-family: 'Permanent Marker', cursive;
    color:rgb(240, 112, 8);
    font-size:5vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.contact{
    font-family: 'Permanent Marker', cursive;
    color:rgb(240, 112, 8);
    font-size:5vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}